<% if @user.errors.any? %> 
	<div id="error_explanation">
			<h2> Corriga os erros abaixo antes de prosseguir</h2><br/>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li> <%= msg %></li>
				<% end %>
			</ul>
	</div>
<% end %>

<%= form_for(@user,html: {class: 'form-horizontal'}) do |f| %>
	<div class="field form-group">
		<%= f.label :name %> <br/>
		<%= f.text_field :name %>
	</div>
	<p>
		<%= f.label :email %><br/>
		<%= f.email_field :email %>
	</p>
	<p>
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %> <br/>
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.radio_button(:permission, 0) %>
		<%= f.label(:permission, "Administrador") %>
		<%= f.radio_button(:permission, 1) %>
		<%= f.label(:permission, "Desenvolvedor") %>
		<%= f.radio_button(:permission, 2) %>
		<%= f.label(:permission, "Cliente") %>
	</p>
	<p>
        <%= f.submit %>
        <%= link_to "Voltar", root_path, class: "btn btn-default" %>
	</p>
<% end %>