<div class="msgErros">
	<h2 class="success"> <%=  notice %></h2>
</div>

<div class="informacoes">
	<h2>Perfil do Usuário</h2>
	<hr/>
	<p>
		<label> Nome: <%= @user.name %></label>
	</p>
	<p>
		<label> Email: <%= @user.email %></label>
	</p>
	<p>
		<label> Perfil do usuário:
			<% if @user.permission == 0 %> 
				Administrador
			<% elsif @user.permission == 0 %> 
				Desenvolvedor
			<% else %>
				Cliente
			<% end %>
		</label>
	</p>
	<%= link_to 'Editar Perfil' , edit_user_path(@user) %>
    <%= link_to "Voltar", root_path %>
</div>